/*********************/
header{
	background-color:#555;	
	margin: 20px 0 20px 0;
	height: 50px;
}
.fa-shopping-cart{
	color:gold;
	font-size: 25px;
}
#logo{
	padding: 0 0 0 200px;
}
#nav-area{
	padding: 0 200px 0 0;
}
#menu a{
	padding:10px;
	color:gold;	
}
#menu a:hover{
	text-decoration: none;
	color: pink;
	border-bottom: 3px solid gold;
	transition: 0.5s ease;
	padding-bottom: 10px;
}
@media (max-width: 648px){
	#logo{
		display: none;
	}
	#nav-area{
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 0;
	}
	main img{
		width: 100%;
	}
	#menu a{
		
	}
	/*header{
		background-color: transparent;
	}*/
}
/*********************/
main{
	background-color:#aaa;
}
#hero{
	height: 500px;
	padding:50px;
}
/*********************/
section{
	background-color:#eee;
}
.product{
	background-color: #bbb;
	margin:10px;
	display: flex;
	justify-content: center;

}
