		/******* Styling the Navigation *******************/
		header{
			background-color: #2F303A;
			height: 70px;
		}
		.fa-shopping-cart{
			color:gold;
			font-size: 25px;
		}
		#logo{
			padding: 0 0 0 200px;
			color:gold;
			font-size: 25px;
		}
		#nav-area{
			padding: 0 200px 0 0;
		}
		#menu a{
			padding:0 25px;
			color:gold;	
		}
		#menu a:hover, #cart i:hover{
			text-decoration: none;
			color: #fff;
			transition: 0.5s ease;
		}
		#home i {
			padding: 0 0 0 3px;
		}
		@media (max-width: 648px){
			#logo{
				display: none;
			}
			#nav-area{
				
				display: flex;
				justify-content: center;
				padding: 0;
				width: 100%;			
			}
			main img{
				width: 100%;
			}
			/*header{
				background-color: transparent;
			}*/
		}
		/******* Styling the Main Section with Search Tool *******************/
		main{
			/* height: 500px; */
			height: calc(100vh - 70px);
		}
		main{
			/* background-image: url("../assets/box.jpg"); */
			background:linear-gradient(0deg, hsla(235, 10%, 21%, 0.6) 0%, hsla(235, 10%, 21%, 0.6) 0%), url(../assets/box.jpg);
			/*Parallax effects*/
			position: relative;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		/*
		video{
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 50%;	
		}*/
		input, button{
			border-radius: 5px 0 0 5px;
			font-size: 17px;
			padding: 15px 20px;
			border:1px solid #eee;
		}
		input{
			padding: 0 50px;
			text-align: center;
			width: 50%; /* width:300px; */
			padding-left:10px;
		}
		button{
			border-radius: 0 5px 5px 0;
		}
		.fa-search{
			color:#2F303A;
			font-size: 30px;
		}
		.fa-search:hover{
			color:gold;
			transition: 0.5s ease;
		}
		.search:hover{
			border-color: gold;
			transition: 0.5s ease;
		}
		select{
			color:#fff;
			padding: 0 10px;
			border:none;
			background-color: #2F303A;
		}
		#hero{
			height: 500px;
			padding:50px;
		}
				/******* Product Listing *******************/
		section{
			background-color: #2F303A;
			margin: 50px 0;
		}
		h3{
			color:#fff;
			text-align: center;
			padding:20px 0;
		}
		.product{
			display: flex;
			justify-content: center;
			padding:0 35px;
			padding-bottom: 20px;
		}
		.hide .product{
			display: none;
		}
		.product img{
			width: 300px;
			height: 300px;
			border: 10px solid #fff; 
		}
		.product img:hover{
			opacity: 50%;
		}
		/******* Closing div *******************/
		.closing{
			width: 100%;
			/* height: 500px; */
			height: 100vh;
			background:linear-gradient(0deg, hsla(235, 10%, 21%, 0.6) 0%, hsla(235, 10%, 21%, 0.6) 0%), url("../assets/sticker.jpg");
			/*Parallax effects*/
			position: relative;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		small, .social-media{
			background-color: #2F303A;
		}
		small p, .social-media i{
			color:gold;
			padding: 0 20px;
		}
		.social-media{
			padding:10px 0;
			font-size: 25px;
		}
		
		
		/* extra css */
		
		.loader{
			display: none!important;
		}
		#progress{
			height: 100vh;
		}
		.showListing{
			height: 100vh;
			padding: 4rem 0;
		}
		.search{
			width: 100%;
		}
		.display-2{
			color: #fff;
		}
		.lead.text-muted {
			color: rgba(255,255,255,.7)!important;
		}
		.itemTittle{
			font-family: Poppins,sans-serif;
			font-weight: 500;
			font-size: 1.25rem;
			color: #2F303A;
		}
		/* #listedItem{
			
		} */
		.cardWrapper{
			padding: .75rem;
		}
		body{
			background-color: #2F303A;
		}
		.itemDteail{
			background-color: rgba(255,255,255,.7);
		}